*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-weight-bold{
    font-size: 18px;
    color: #fff;
    line-height: 30px;
}
.text-light p{
    font-size: 16px;
    color: #fff ;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.5px;
    font-family: 'Robot' , sans-serif;
}
.text-light ul li{
    font-size: 16px;
    color: #fff ;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.5px;
    font-family: 'Robot' , sans-serif;
}
.text-light ol{
    color: #fff;
}
.main-landing-page-TC{
    color: #000;
    font-size: 35px;
    font-weight: 700;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    letter-spacing: 1px;
    padding: 3% 0;
}
.main-landing-TC{
    padding: 3% 0;
}